<div class = 'flex flex-col items-center'>
    <label for = 'title'>Title</label>
    <input class = 'bg-gray-400 mb-4'type="text" name ='title' id="title" value = "<%= article.title %>"/>
</div>
<div class='flex flex-col items-center'>
    <label for='description'>description</label>
    <textarea class='bg-gray-400 mb-4' type="text" name='description' id="description" ><%= article.description %></textarea>
</div>
<div class='flex flex-col items-center'>
    <label for='markdown'>Markdown</label>
    <textarea class='bg-gray-400 mb-4' type="text" name='markdown' id="markdown"><%= article.markdown %></textarea>
</div>
<div class='flex flex-col items-center'>
  <button class='bg-blue-400 px-2 py-1 rounded font-bolder hover:bg-blue-600 mb-2'>submit</button>
  <a href = '/' class='bg-red-400 px-2 py-1 rounded font-bolder hover:bg-blue-600'>cancel</a>
</div>